<html>
	<head>
		<title>Заполнение зявки на розыск</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
			<span class="navbar-brand">Отправить заявку на розыск</span>
		</nav>
		<div class="container mt-3">
			<form action="/lostRequest" method="POST" encType="multipart/form-data" class="col-12 col-lg-auto border pt-3 pl-3 pr-3 pb-lg-3">
				<div class="row justify-content-center">
					<label for="lostInfoGroup" class="h4">Информация о пропавшем</label>
				</div>
				<p><span class="text-danger">*</span> - обязательно</p>
				<div class="form-group" id="lostInfoGroup">
					<div class="form-group" id="q1">
						<label for="q1" class="h5">1. ФИО пропавшего<span class="text-danger">*</span></label>
						<small id="lostFullnameHelpBlock" class="form-text text-muted">Введите ФИО пропавшего <b>Пример:</b> Иванов Иван Иванович</small>
						<input type="text" name="lostFullname" id="lostFullname" class="form-control" aria-describedby="lostFullnameHelpBlock" placeholder="ФИО пропавшего" required />
					</div>
					<div class="form-group" id="q2">
						<label for="q2" class="h5">2. Дата и место рождения пропавшего<span class="text-danger">*</span></label>
						<div class="row">
							<div class="col-lg-4 align-items-end" id="lostDateGroup">
								<small id="lostBirthDateHelpBlock" class="form-text text-muted">Укажите дату рождения пропавшего</small>
								<input type="date" id="lostBirthDate" class="form-control" name="lostBirthDate" value="" min="1900-01-01" required>
							</div>
							<div class="col-lg-8" id="lostDateGroup">
								<small id="lostBirthLocationHelpBlock" class="form-text text-muted">Введите место рождения пропавшего. <b>Пример:</b> г. Иваново, Ивановской обл</small>
								<input type="text" id="lostBirthLocation" class="form-control" name="lostBirthLocation" placeholder="Место рождения пропавшего" required>
							</div>
						</div>
					</div>
					<div class="form-group" id="q3">
						<label for="q3" class="h5">3. Дата пропажи и последнее местонахождение<span class="text-danger">*</span></label>
						<div class="row align-items-end text-justify">
							<div class="col-lg-4" id="lostDateGroup">
								<small id="disappearanceDateHelpBlock" class="form-text text-muted">Укажите дату пропажи или последнего выхода на связь</small>
								<input type="date" id="disappearanceDate" class="form-control" name="disappearanceDate" value="" min="1980-01-01" required>
							</div>
							<div class="col-lg-8" id="lostDateGroup">
								<small id="disappearanceLocationHelpBlock" class="form-text text-muted">Укажите, по возможности, наиболее подробно, последнее достоверно известное местонахождение пропавшего человека, сообщённое им/ей самим(ой), или иными свидетелями <b>Пример:</b> г. Москва, Волгоградский проспект, д. 13, общежитие "Василёк" </small>
								<input type="text" id="disappearanceLocation" class="form-control" name="disappearanceLocation" placeholder="Место пропажи" required>
							</div>
						</div>
					</div>
					<div class="form-group" id="q4">
						<label for="q4" class="h5">4. Обстоятельства пропажи<span class="text-danger">*</span></label>
						<small id="lostСircumstancesHelpBlock" class="form-text text-muted text-justify">В свободной форме опишите всё достоверно известные вам обстоятельства пропажи, но только те обстоятельства, которые имеют непосредственное отношение к самому факту пропажи. Иными словами, не стоит перегружать сообщение различного рода теориями, догадками, предположениями, подробностями личной жизни пропавшего человека и т.п., потому что все эти сведения в любом случае не могут быть помещены на ориентировку.</small>
						<textarea rows="5" id="lostСircumstances" class="form-control" name="lostСircumstances" placeholder="Обстоятельства пропажи" required></textarea>
					</div>
					<div class="form-group" id="q5">
						<label for="q5" class="h5">5. Заявление в полицию<span class="text-danger">*</span></label>
						<small id="policeFileInfoHelpBlock" class="form-text text-muted text-justify">Укажите, подавали ли вы, или кто-либо иной из близких/родственников, заявление в полицию о розыске пропавшего без вести человека. Если да, то укажите, когда и в какой территориальный отдел полиции было подано заявление, номер КУСП и, если по итогам было возбуждено розыскное дело, то какой следователь его ведёт. <b>Пример:</b> 06.04.2017 в ОВД по Фрунзенскому р-ну, г. Иваново, КУСП-3329, следователь: ст. лейтенант Петров Пётр Петрович</small>
						<input type="text" id="policeFileInfo" class="form-control" name="policeFileInfo" placeholder="Информация о заявлении" required>
					</div>
					<div class="form-group" id="q6">
						<label for="q6" class="h5">6. Фото пропавшего<span class="text-danger">*</span></label>
						<small id="lostPhotoHelpBlock" class="form-text text-muted">Пожалуйста, загрузите файл с фото пропавшего</small>
						<input type="file" name="lostPhoto" id="lostPhoto" class="form-control-file" required>
					</div>
					<div class="form-group" id="qPhone">
						<label for="qPhone" class="h5">Определить местонахождение по телефонному звонку</label>
						<small id="policePhoneHelpBlock" class="form-text text-muted text-justify">Заполните это поле, если от пропавшего без вести человека поступил телефонный звонок с мобильного номера, но он не смог сообщить своё местонахождение. Существует возможность определить местоположение этого звонка, для этого следователь, ведущий розыскное дело, должен получить разрешение суда и направить запрос в компанию оператора мобильной связи, с чьей симкарты был сделан звонок. Для направления такого запроса необходимо в заявлении на розыск пропавшего указать номер телефона, с которого звонил пропавший, и точную дату и время звонка. <b>Пример:</b> +7 999 123 45 67, 05.04.2017 в 17:28</small>
						<input type="text" id="policePhoneInfo" class="form-control" name="policePhoneInfo" placeholder="Информация о звонке">
					</div>					
				</div>
				<hr/>
				<div class="row justify-content-center">
					<label for="contactPersonGroup" class="h4">Информация о заявителе</label>
				</div>
				<div class="form-group" id="q7">
					<label for="q7" class="h5">7. Кем Вы приходитесь пропавшему<span class="text-danger">*</span></label>
						<small id="requesterRelationHelpBlock" class="form-text text-muted"><b>Пример:</b> сестра</small>
						<input type="text" name="requesterRelation" id="requesterRelation" class="form-control" aria-describedby="requesterRelationHelpBlock" placeholder="" required/>
				</div>
				<div class="form-group" id="q8">
					<label for="q8" class="h5">8. Дата рождения, ФИО<span class="text-danger">*</span></label>
					<div class="row">
						<div class="col-lg-4 align-items-end" id="lostDateGroup">
							<small id="requesterBirthDateHelpBlock" class="form-text text-muted">Укажите Вашу дату рождения</small>
							<input type="date" id="requesterBirthDate" class="form-control" name="requesterBirthDate" value="" min="1900-01-01" required>
						</div>
						<div class="col-lg-8" id="lostDateGroup">
							<small id="requesterFullnameHelpBlock" class="form-text text-muted">Введите Ваше ФИО. <b>Пример:</b> Иванова Татьяна Ивановна</small>
							<input type="text" name="requesterFullname" id="requesterFullname" class="form-control" aria-describedby="requesterFullnameHelpBlock" placeholder="Ваше ФИО" required/>
						</div>
					</div>
				</div>
				<div class="form-group" id="q9">
					<label for="q9" class="h5">9. Сведения о документе, удостоверяющем личность<span class="text-danger">*</span></label>
					<small id="requesterPassportHelpBlock" class="form-text text-muted text-justify">Укажите номер паспорта, или любого иного документа (водительские права, военный билет), удостоверяющего вашу личность как заявителя, а так же, кем и когда выдан документ. <b>Пример:</b> паспорт РФ 1234 567890, выдан 30.06.2007 ОВД по Фрунзенскому р-ну, г. Иваново</small>
					<input type="text" name="requesterPassport" id="requesterPassport" class="form-control" aria-describedby="requesterPassportHelpBlock" placeholder="Сведения о документе, удостоверяющем личность" required />
				</div>
				<div class="form-group" id="q10">
					<label for="q10" class="h5">10. Место жительства<span class="text-danger">*</span></label>
					<small id="requesterAddressHelpBlock" class="form-text text-muted">Укажите Ваше место жительства. <b>Пример:</b> г. Иваново, ул. Центральная, д. 8, стр. 1, кв. 12</small>
					<input type="text" name="requesterAddress" id="requesterAddress" class="form-control" aria-describedby="requesterAddressHelpBlock" placeholder="Ваш адрес" required />
				</div>
				<div class="form-group" id="q11">
					<label for="q11" class="h5">11. Контактный телефон<span class="text-danger">*</span></label>
					<small id="requesterPhoneHelpBlock" class="form-text text-muted">Ваш контактный телефон. <b>Пример:</b> +7 999 765 43 21</small>
					<input type="tel" name="requesterPhone" id="requesterPhone" class="form-control" aria-describedby="requesterPhoneHelpBlock" placeholder="Ваш номер телефона" required />
				</div>
				<div class="form-group" id="q12">
				<label for="q13" class="h5">11. Дополнительная контактная информация<span class="text-danger">*</span></label>
				<small id="requesterContactInfoHelpBlock" class="form-text text-muted text-justify">Ваш e-mail, контакты в социальных сетях Если у вас имеются дополнительные средства связи посредством электронной почты или социальных сетей, укажите их здесь. <b>Пример:</b> ivanova.tatiana@mail.ru или ok.ru/profile/123456789012</small>
				<input type="text" name="requesterContactInfo" id="requesterContactInfo" class="form-control" placeholder="Дополнительные средства связи"/>
				</br>
				</div>
				 
				<p>Просьба предварительно ознакомиться c 
				 <a data-toggle="collapse" aria-controls="collapseInfo" aria-expanded="false" href="#collapseInfo" role="button">
				 Информацией о подаче заявки
				 </a>
				</p> 
				<div class="collapse" id="collapseInfo">
					<div class="card card-body">
					<p class="text-justify">
					 Здесь вы можете оставить заявку на пропавшего без вести человека, мы внесём её в нашу базу данных и опубликуем ориентировку на информационных ресурсах 
					 МРОО движение против рабства «Альтернатива». Наше движение периодически проводит операции по освобождению людей из современных форм рабства, и с помощью 
					 этой базы данных, для которой мы собираем информацию о пропавших без вести, можно сразу установить, кто из людей находится в розыске. Также, среди освобождённых 
					 нами людей мы проводим опознание по фотографиям пропавших без вести на случай, если они где-то могли видеть этих пропавших среди лиц, находящихся в принудительной 
					 эксплуатации, или в иных местах. Опубликованная ориентировка также распространяется через наши информационные ресурсы в сети интернет, вся информация о возможном 
					 местонахождении пропавших без вести поступает на телефон нашей горячей линии и электронную почту, указанные в ориентировке. В случае появления какой-либо информации 
					 по ориентировке мы, после предварительной проверки на предмет возможных мошеннических действий, немедленно передаём все полученные сведения заявителю по контактам, 
					 указанным вами в данной форме-заявке, а, так же, при необходимости принимаем дополнительные действия: в частности, если есть такая возможность в конкретной ситуации 
					 и конкретном регионе, может быть дано поручение нашим волонтёрам на местах о дополнительной проверке полученной информации, помощи в возвращении домой, помощи во 
					 взаимодействии с правоохранительными органами и т.п.Внимание! Отсылая нам эту заполненную в электронном виде форму вы, как заявитель, в соответствии с требованиями 
					 статьи 9 Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных», передаёте МРОО движение против рабства «Альтернатива» персональные данные третьего лица 
					 без его предварительного согласия ввиду объективной невозможности у него такое согласие получить, в связи с отсутствием у вас, как заявителя, информации о 
					 местонахождении разыскиваемого лица на момент передачи и публикации его персональных данных. Персональные данные вышеуказанного лица передаются вами, как заявителем, 
					 для публикации в открытом доступе в сети интернет на информационных ресурсах МРОО движение против рабства «Альтернатива» с целью дальнейшего распространения среди 
					 неопределённо широкого круга людей. Тем самым вы, как заявитель, подтверждаете, что передаёте нам персональные данные третьего лица исключительно с целью розыска его, 
					 как пропавшего без вести, в связи с утратой ваших с ним личных/родственных связей, а, так же, предупреждены, что в случае выявления обстоятельств, указывающих на 
					 добровольных характер утраты личных/родственных связей со стороны разыскиваемого лица и/или в случае заявления (в том числе через правоохранительные органы) от 
					 разыскиваемого лица о снятии себя с розыска и добровольном нежелании восстанавливать личные/родственные связи, а так же в случае поступления сведений о наступлении 
					 смерти разыскиваемого лица, после необходимой проверки, соответствующая ориентировка будет немедленно удалена из наших информационных ресурсов в сети интернет и о 
					 статусе вашей заявки вы будете предупреждены отдельно. МРОО движение против рабства «Альтернатива» несёт ответственность только за те ориентировки на пропавших без 
					 вести, содержащиеся в них сведения (а именно - адекватность отображения в соответствии с присланной заявкой) и все связанные с этим действия по розыску пропавших 
					 без вести, которые опубликованы непосредственно на информационных ресурсах самой МРОО движение против рабства «Альтернатива» и имеют подпись и контактные данные нашей 
					 организации в соответствии с установленным образцом. Опубликованная ориентировка не защищена от копирования и не подпадает под действие закона об охране авторского права,
					 следовательно, за все возможные изменения, дополнения, редактуры и иные действия, которые могут быть произведены с ориентировками, скопированными из информационных 
					 ресурсов МРОО движение против рабства «Альтернатива» иными лицами, опубликовавшими наши ориентировки на посторонних информационных ресурсах, сама МРОО движение 
					 против рабства «Альтернатива»ответственности не несёт. Данное положение касается в том числе ориентировок, удалённых их информационных ресурсов МРОО движение 
					 против рабства «Альтернатива», но оставшихся в скопированном виде в сети интернет, в связи с объективным отсутствием технических возможностей удалить из сети 
					 интернет все возможные копии опубликованной ориентировки. За нахождение в открытом доступе персональных данных, содержащихся в вышеуказанных ориентировках, которые 
					 с момента их удаления более не привязаны информационным ресурсам МРОО движение против рабства «Альтернатива», дальнейшее распространение вышеуказанных ориентировок
					 и иные возможные действия, связанные опубликованной информацией, МРОО движение против рабства «Альтернатива» ответственности не несёт. В случае, если заявитель по
					 имеющимся контактным данным нашей организации не известил вовремя участников МРОО движение против рабства «Альтернатива» о необходимости удалить ориентировку на
					 пропавшего без вести из наших информационных ресурсов в связи с завершением розыска, МРОО движение против рабства «Альтернатива» не несёт ответственность за 
					 нахождение в открытом доступе персональных данных разыскиваемого лица и информации об актуальности его розыска в данный период времени.Внимание! Всю ответственность 
					 за достоверность предоставляемой о разыскиваемом лице информации, а, так же, за подтверждение отсутствия на момент поступления заявки на разыскиваемого лица 
					 сведений о добровольном характере утраты им личных/родственных связей, равно как и отсутствия сведений о нежелании со стороны разыскиваемого лица распространять 
					 свои персональные данные в сети интернет, несёт только сам заявитель, предоставляющий в МРОО движение против рабства «Альтернатива» персональные данные 
					 разыскиваемого лица. Никакие иные сведения, кроме объективно необходимых данных для установления местонахождения разыскиваемого лица, в том числе никакие 
					 персональные данные и контакты самого заявителя, со стороны МРОО движение против рабства «Альтернатива» в открытом доступе не публикуются и никаким третьим 
					 лицам и/или организациям не передаются.
					</p>
					</div>
					<a data-toggle="collapse" aria-controls="collapseInfo" aria-expanded="false" href="#collapseInfo" role="button">Свернуть текст</a>
				 </div>
				<div class="form-check form-group">
					<input class="form-check-input" type="checkbox" value="" id="checkReadInfo" required>
					<label class="form-check-label" for="checkReadInfo">Я прочитал(а) и согласен(на)</label>
				</div>
				<div class="row justify-content-center">
				<button type="submit" class="btn btn-primary form-control col-lg-6">Отправить</button>
				</div>
			</form>
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		</div>
	</body>
</html>